.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  padding: 0 20px;
}

.navbar-nav .nav-link {
  color: black;
  font-weight: bold;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 35%;
}

/*.navbar-nav .nav-link:hover {
} */

.item-list-container {
  text-align: center;
}